server {
    server_name @@HOSTNAME@@;
    root "@@PATH@@";

    index index.htm index.html;
    client_max_body_size 1m;
    autoindex on;

    access_log @@LOG_PATH@@/access.log;
    error_log @@LOG_PATH@@/error.log;
    
    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
        access_log off;
    }
    
    location ~* \.(html|htm)$ {
        expires 0;
        add_header Cache-Control private;
    }
}
