<!DOCTYPE html>
<html>
<head>
    <title>Admin :: Code Club Web Server</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jtable_jqueryui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/south-street/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/south-street/jquery.ui.theme.css" />
    
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jtable/jquery.jtable.min.js" type="text/javascript"></script>
    <script src="/static/js/jtable/localization/jquery.jtable.en.js" type="text/javascript"></script>
    <script src="/static/js/admin.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <a href="https://www.codeclub.org.uk"><img alt="Logo" height="150" src="/static/css/images/logo.png" width="150" /></a>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="contents">
        <h1>Manage Students</h1>
        <div id="students-jtable"></div>
    </div>
    <div id="footer">
        <span>Created by George Hafiz &lt;<a href="mailto:georgehafiz@gmail.com">georgehafiz@gmail.com</a>&gt;</span>
    </div>
</body>
</html>
